@model myOLX.Models.User

       	<div class="left_content">
            <div class="title"><span class="title_icon"><img src="~/images/bullet1.gif" alt="" title="" /></span>Register</div>
        
        	<div class="feat_prod_box_details">
            <p class="details">
             <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
            --></p>
            
              	<div class="contact_form">
                <div class="form_subtitle">create new account</div>
                 <form name="register" action="/User/save" method ="post">          
                    <div class="form_row">
                    <label class="contact"><strong>Username:</strong></label>
                    <input type="text" id ="t1" class="contact_input" name ="userName" />
                        
                     <input id="b1" type="button" class="register" value="check" />
                    </div>  
                      <div class="form_row" id="err">
                              <label >UserName already exists</label>
                             </div>
                    
                     <script>
                         $(document).ready(function () {
                             $('#err').hide();
                         $('#b1').click(function () {
                            
                             $.getJSON('/User/CheckUserName?u=' + $('#t1').val(),
                                 function (data) {
                                     // alert(data);
                                     if (data) {
                                         $('#err').show();
                                     }

                                 });

                         });
                         });
                      </script>

                    <div class="form_row">
                    <label class="contact"><strong>Password:</strong></label>
                    <input type="text" class="contact_input" name ="pwd" />
                    </div> 

                    <div class="form_row">
                    <label class="contact"><strong>Email:</strong></label>
                    <input type="text" class="contact_input" name ="email" />
                    </div>


                    <div class="form_row">
                    <label class="contact"><strong>Phone:</strong></label>
                    <input type="text" class="contact_input" name ="phone" />
                    </div>
                    
                    <div class="form_row">
                    <label class="contact"><strong>Company:</strong></label>
                    <input type="text" class="contact_input" name ="company" />
                    </div>
                    
                    <div class="form_row">
                    <label class="contact"><strong>Adrress:</strong></label>
                    <input type="text" class="contact_input" name ="address" />
                    </div>                    

                     <!--
                    <div class="form_row">
                        <div class="terms">
                        <input type="checkbox" name="terms" />
                        I agree to the <a href="#">terms &amp; conditions</a>                        </div>
                    </div> 

                    -->
                    <div class="form_row">
                    <input type="submit" class="register" value="register" />
                    </div>   
                  </form>     
                </div>  
            
          </div>	    
        <div class="clear"></div>
        </div><!--end of left content-->
        